<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#">Hello Mundo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Notificaciones
                        <span class="badge badge-danger">{{ (notificaciones$ | async).length }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" style="max-width: 400px;"
                        aria-labelledby="navbarDropdown">
                        <div style="max-width: 400px;" class="text-break"></div>
                        <div class="container">
                            <h4 class="px-2 py-2">
                                <strong>Notificaciones</strong>
                            </h4>
                        </div>
                        <div class="media text-muted px-2 py-1" *ngFor="let item of notificaciones$ | async">
                            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: 32x32">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%"
                                    fill="#007bff" dy=".3em">32x32</text>
                            </svg>
                            <p class="media-body mb-0 small text-break" style="max-width: 400px;">
                                <strong class="d-block text-gray-dark">@username</strong>
                                {{ item.texto }}
                            </p>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Esteven Moreno
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ajustes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Cerrar sesion</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>