<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    Inicio de sesion
                </div>
                <div class="card-body">
                    <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
                        <div class="form-group">
                            <label for="InputEmail1">Correo</label>
                            <input type="email" class="form-control" id="InputEmail1" formControlName="email" required>
                        </div>
                        <div class="form-group">
                            <label for="InputPassword1">Contraseña</label>
                            <input type="password" class="form-control" id="InputPassword1" formControlName="password"
                                required>
                        </div>
                        <button type="submit" [disabled]="(formLogin.status == 'INVALID') || loading"
                            class="btn btn-primary">{{ loading? 'Cargando...' : 'Ingresar' }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>