<header>
    <div class="container">
        <div class="row">
            <div class="col text-center introduccion">
                <h2>JESÚS CAMINO AL EXITO</h2>
                <p>"Hay caminos que al hombre le parece perfecto pero su fin es camino de muerte"
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-12 col-md-6 col-sm-6 col-lg-4 ">
                <img class="embed-responsive embed-responsive-16by9" src="../../../../assets/media/cuadro.png"
                    alt="cuadro">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque modi tempora neque!</p>
            </div>
            <div class="col-12 col-md-6 col-sm-6 col-lg-6 ">
                <app-invitation-form></app-invitation-form>
            </div>
        </div>
    </div>
</header>