.chat-area {
    display: flex;
    flex-direction: column-reverse;
    height: 350px; 
    overflow: auto;                
}

.content-msg {
    display: grid;
}

.msg-out, .msg-in { 
    position: relative;
    padding: 5px 15px;
    margin: 5px 0;
    max-width: 80%;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.22);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.msg-in {
    /* display: inline-block; */
    border-radius: 15px 15px 15px 0;    
    background-color: white;
    color: black;
    justify-items: start;
}

.msg-out {
    border-radius: 15px 15px 0 15px;
    background-color: black;
    color: white;
    justify-items: end;
}

.msg-in-from {
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.shadowd {
    mask-image: linear-gradient(to bottom, transparent, white 10px, white 95%, transparent);
}